<!DOCTYPE html>
<html lang="en">
  <head>
    <title> movies</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>All the Movies</h1>
    <h2>Movie List</h2>

    <ul>
      <%@each_page.each do |movie|%>
         <li> <a href="/movies/<%= movie['id'] %>">
                  <%= movie['title']%>
              </a>
         </li>
      <% end %>
    </ul>
    <p><a href="/movies">Front Page</a></p>
    <p><a href="/movies?page=<%=@page_number.to_i+1%>" > Next Page </a></p>
    <p><a href="/movies?page=<%=@page_number.to_i-1%>">Previous Page</a></p>

    <form action="/movies" action = "/movies?query=<%@all_movies.each {|movie|%> <%= movie['title']%> <%}%>" method="get">
      <label for="query">Search: </label>
      <input type="text" name="query" id="query" />
      <input type="submit" value="Search" /></a>
    </form>

  </body>
</html>
